<!DOCTYPE html>
<html lang="en">
<link href="/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/fragments/nav-header :: h3"></div>
<div th:replace="/fragments/nav-header :: auth-user"></div>
<div th:replace="/fragments/error-fragments :: user-error"></div>
<h1 th:text="${'Hello, ' + authUser.username + '. Welcome to your profile!'}"></h1>
<img src="https://via.placeholder.com/150 "/>


<h2 th:text="${'Username: ' + authUser.username}"></h2>
<h2 th:text="${'First name: ' + authUser.firstName}"></h2>
<h2 th:text="${'Last Name: ' + authUser.lastName}"></h2>
<!--<h2 th:text="${'DOB: ' + authUser.dateOfBirth}"></h2>-->
<h2 th:text="${'User Bio: ' + authUser.bio}"></h2>

<!--<form th:action="${'/follow-user/' + viewUser.id}" th:method="PUT">-->
<!--    <input type="hidden" th:value="${viewUser.username}">-->
<!--    <input type="submit" value="Follow User" th:disabled="${authUser.username.equals(viewUser.username)}">-->
<!--</form>-->

<!--<h2>Users Follows</h2>-->
<!--<ul th:each="followedUser : ${usersIFollow}">-->
<!--    <li th:text="${followedUser.username}"></li>-->
<!--</ul>-->

<!--<h2>Users Following</h2>-->
<!--<ul th:each="userThatFollows : ${usersWhoFollowMe}">-->
<!--    <li th:text="${userThatFollows.username}"></li>-->
<!--</ul>-->

<h2>Add Post</h2>
<form action="/myProfile" method="POST">
    <textarea name="body" rows="4" cols="150" placeholder="Write Something"></textarea>
    <input type="submit" value="Post"/>
</form>

<h2>User Post</h2>
<ul th:each="post : ${authUser.listOfPost}">
    <li th:text="${post.body}"></li>
</ul>
</body>
</html>