<!DOCTYPE html>
<html lang="en">
<link href="/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up!</h1>
<form action="/signup" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <label>First Name</label>
    <input type="text" name="firstName">
    <br>
    <label>Last Name</label>
    <input type="text" name="lastName">
    <br>
    <label>Date of birth</label>
    <input type="date" name="dateOfBirth">
    <br>
    <label>Bio</label>
    <input type="text" name="bio">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>
</body>
</html>